@media only screen and (min-width : 768px) {
  .col-sm-5 {
    margin-left: 29%;  
  }
}

body {
    background-color: #fff2e6;
}

.modal {
  padding-top: 200px;
}

.modal-title {
  padding-bottom: 10px;
}

.app {
  padding-top: 20px;

}
.symbol-select {
  font-size: 20px;
  width: 60px;
  height: 50px;
}

.square {
  width: 100%;
  font-size: 70px;
  background-color: #cccccc;
  border: 1px solid yellow;
  border-radius: 0px;
}

.col-xs-4 :hover {
  opacity: 0.5;
}

.col-xs-4 {
  position: relative;
  padding: 0px;
}

.row {
  padding: 0px;
}

.ftr {
  font-size: 12px;
  font-style: italic;
  margin: 40px 0px 15px 0px;
}